* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(33, 33, 33);
  font-family: "Roboto Light";
  background-color: #e3003d;
  width: 100vw;
}

#size {
  height: 50px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  width: 100vw;
  height: 40px;
  position: absolute;
}

nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 10px 0;
  flex-grow: 1;
  text-align: center;
  background-color: #e3003d;
}

nav a:hover {
  background-color: #ffffff;
  color: #e3003d;
}

section {
  box-sizing: border-box;
}

h1 {
  color: #e3003d;
  margin: 0;
  font-size: 4em;
  font-weight: bolder;
}

h2 {
  font-size: 3.3em;
  margin: 0;
  color: white;
}

p {
  margin-bottom: 70px;
}

section {
  margin: 20px;
}

.info {
  line-height: 2em;
  margin-bottom: 220px;
  font-size: 1.5em;
  background-color: white;
  padding: 20px 55px;
  overflow: hidden;
  overflow-wrap: break-word;
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: static;
    padding-bottom: 20px;
  }

  section {
    max-width: 100%;
  }

  .info {
    max-width: 90%;
  }
}
