* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(33, 33, 33);
  font-family: 'Roboto Light';
  background-color: #e3003d;
  width: 100vw;
}

#game {
  margin-top: 100px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

nav {
  display: flex;
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  width: 100vw;
  position: absolute;
  padding-bottom: 100px;
}

nav a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 10px 0;
  flex-grow: 1;
  text-align: center;
  background-color: #e3003d;
}

nav a:hover {
  background-color: #ffffff;
  color: #e3003d;
}

#geschiedenis {
  padding-top: 20px;
}

#concentratie {
  width: 650px;
  height: auto;
}

section {
  box-sizing: border-box;
}

h1 {
  color: #e3003d;
  margin: 0;
  font-size: 4em;
  font-weight: bolder;
}

h2 {
  font-size: 3.3em;
  margin: 0;
  color: white;
}

p {
  margin-bottom: 70px;
}

section {
  margin: 20px;
}

.info {
  line-height: 2em;
  margin-bottom: 220px;
  font-size: 1.5em;
  background-color: white;
  padding: 20px 55px;
  overflow: hidden;
  overflow-wrap: break-word;
}

#poster {
  padding: 18px 54px;
  line-height: 1.8em;
  margin-bottom: 220px;
  padding-bottom: 80px;
  overflow: hidden;
}

#sprites {
  width: 550px;
  height: auto;
}

#prototype {
  width: 550px;
  height: auto;
}

#concentratie {
  font-size: 15px;
}

header {
  height: 75vh;
  display: flex;
  padding: 15px;
  background-image: url(../images/Brandaan-2.jpeg);
  background-size: cover;
  justify-content: center;
  background-position: center;
}

footer {
  background-color: #b33034;
  text-align: center;
  color: white;
  padding: 20px 20px;
  min-height: 220px;
  display: block;
}

#footerTxt {
  font-size: 8vh;
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: static;
    padding-bottom: 20px;
  }

  section {
    max-width: 100%;
  }

  .info {
    max-width: 90%;
  }

  #footerTxt {
    font-size: 3em;
  }
}
